body {
  background: url('https://wallpapertag.com/wallpaper/full/7/1/e/141013-pokeball-background-1920x1080-mobile.jpg') ;
background-size: cover;
background-repeat: no-repeat;
}

.mainpagephoto {
  filter: url(filters.svg#grayscale);
  filter: gray;
  -webkit-filter: grayscale(1);

}
.mainpagephoto:hover {
  filter: none;
  -webkit-filter: none;
}
