body {
  background: url('https://wallpapertag.com/wallpaper/full/7/1/e/141013-pokeball-background-1920x1080-mobile.jpg') ;
background-size: cover;
background-repeat: no-repeat;
}

h1 {
  color: white;
  text-shadow: 1px 1px 2px black;
}

.mainpagephoto {
  filter: url(filters.svg#grayscale);
  filter: gray;
  -webkit-filter: grayscale(1);

}
.mainpagephoto:hover {
  filter: none;
  -webkit-filter: none;
}

.pokemon-grid {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 200px 200px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  border: solid black;
  grid-area: "pic bio"
              "pic stats";
}

.pokemon-grid div:nth-child(1)
